
  <div class="container-xl row">
  <div class="card col" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Gerenciar Candidatos</h5>
      <h6 class="card-subtitle mb-2 text-muted">Crud de Candidatos</h6>
      <p class="card-text">Aqui terá acesso a lista de candidatos, com as opções de cadastrar um novo candidato, atualizar e excluir candidatos e seus curriculos. Também é possível canditadar uma pessoa para uma vaga. </p>
      <a href="#" [routerLink]="['/ListCandidates/']" class="card-link">Candidatos</a>
    </div>
  </div>
  <div class="card col" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Gerenciar Vagas</h5>
      <h6 class="card-subtitle mb-2 text-muted">Crud de vagas</h6>
      <p class="card-text">Aqui você verá a listagem de vagas, com as opções de adicionar uma nova vaga, atualizar uma vaga existente ou exclui-la.</p>
      <a href="#" [routerLink]="['/ListJobs/']" class="card-link">Vagas</a>
    </div>
  </div>
</div>